body {
    background-color: #ffffff;
    opacity: 0.8;
    background-size: 20px 20px;
}
h1 {
    text-align: center;
    font-size: 60px;
}
h2 {
    text-align: center;
    font-size: 40px;
}
h3 {
    text-align: center;
    font-size: 20px;
}
.Montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.Bordered {
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 23px;
    border-width: 4px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: outset;
    text-align: center;
    border-radius: 30px;
    box-shadow: 13px 17px 13px rgba(66,66,66,.53);
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;   
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active {
    background-color: #04AA6D;
}
.ytActive{
    background-color: #FF0000;
}
.gitActive{
    background-color: #0388a6;
}
.twitchActive{
    background-color: #6441a5 ;
}
.GAP {
    margin-top: 75px;
}
.contactDisplay{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: none;
}